<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil !{% endblock %} - Site E-commerce</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        <!--fichier Css -->
        <link rel="stylesheet" href="{{ asset('assets/css/bootstrap.min.css') }}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css" />
        {% block stylesheets %}
            
        {% endblock %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css')}}">
         <!--fichier js -->   
         <script src="{{ asset('assets/js/bootstrap.bundle.js')}}"></script>
         <script src="{{ asset('assets/js/bootstrap.bundle.js.map')}}"></script>
        {% block javascripts %}
           
        {% endblock %}
    </head>
    <body>
       {{ include('/_partials/header.html.twig') }}
        {% block body %}{% endblock %}
       {{ include('/_partials/footer.html.twig') }} 
    </body>
</html>
